services:
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "users_service"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "123"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d users_service"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

  users:
    build:
      context: ./services/users
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://admin:123@postgres:5432/users_service
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./services/users/app:/app/app
    command: >
      sh -c "uvicorn app.main:app --host 0.0.0.0 --port 8000"
    healthcheck:
      # без curl/wget
      test: ["CMD", "python", "-c", "import socket,sys; s=socket.socket(); s.settimeout(2); s.connect((\"127.0.0.1\",8000)); s.close()"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 20s
    restart: unless-stopped

  auth:
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    environment:
      USER_SERVICE_URL: http://users:8000
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
    ports:
      - "8081:8081"
    depends_on:
      users:
        condition: service_healthy
    volumes:
      - ./services/auth/src:/app/src
    # command: >
    #   sh -c "python -m app.main --host 0.0.0.0 --port 8081"
    healthcheck:
      test: ["CMD", "python", "-c", "import socket,sys; s=socket.socket(); s.settimeout(2); s.connect((\"127.0.0.1\",8081)); s.close()"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
