services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_URL=${DB_URL}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_HOST=${MINIO_HOST}
      - MINIO_SECURE=${MINIO_SECURE}
      - MINIO_BUCKET_CARDS=${MINIO_BUCKET_CARDS}
      - GATEWAY_SECRET=${GATEWAY_SECRET}
    depends_on:
      - db
      - minio
    volumes:
      - ./src:/app/src
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      # - postgres_data:/var/lib/postgresql/data
      - ./var/postgres_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    volumes:
      # - minio-storage:/data
      # - minio-config:/root/.minio
      - ./var/minio-storage:/data
      - ./var/minio-config:/root/.minio
      - ./config/minio/lifecycle.json:/lifecycle.json:ro
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=miniouser
      - MINIO_ROOT_PASSWORD=miniopassword
    entrypoint: /bin/sh
    command: -c "
      minio server /data --console-address ':9001' & \
      until curl -f http://127.0.0.1:9000/minio/health/live; do \
      echo waiting for minio...; sleep 2; \
      done; \
      mc alias set local http://127.0.0.1:9000 miniouser miniopassword; \
      mc ilm import local/cards < /lifecycle.json; \
      wait"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

# volumes:
#   postgres_data:
#   minio-storage:
#   minio-config:
